.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'ComicSansMS-Bold', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 27px; 
 font-weight:700; 
 color: #FE9300;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #F8B900;
 word-wrap: break-word;}
.para5{font-size: 0; text-align:left; padding-bottom:14px; margin-top:0px; padding-top:0px;}
.Style6{font-family:  'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:normal; 
 color: #5D5D5D;
 word-wrap: break-word;}
.Style7{font-family:  'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style8{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 15px; 
 font-weight:900; 
 word-wrap: break-word;}
.para9{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style10{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style11{font-family:  'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:normal; 
 color: #A9A9A9;
 word-wrap: break-word;}
.Style12{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 12px; 
 font-weight:900; 
 color: #F42304;
 word-wrap: break-word;}
.Style13{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 12px; 
 font-weight:900; 
 word-wrap: break-word;}
.Style14{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 12px; 
 font-weight:900; 
 margin:0;
 color: #F42304;
 word-wrap: break-word;}
.Style15{font-family:  'ComicSansMS-Bold', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style16{font-family:  'ComicSansMS-Bold', 'Comic Sans MS' ,'Comic Sans MS' ,cursive ;
 font-size: 15px; 
 font-weight:700; 
 color: #F8B900;
 word-wrap: break-word;}
.Style17{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 16px; 
 font-weight:900; 
 color: #FF5A0D;
 word-wrap: break-word;}
.para18{font-size: 0; text-align:center; padding-bottom:14px; margin-top:0px; padding-top:0px;}
.Style19{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style20{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #5D5D5D;
 word-wrap: break-word;}
.Style21{font-family:  'Arial-ItalicMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:normal; 
 font-style: italic;
 color: #5D5D5D;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}