.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:normal; 
 color: #919191;
 word-wrap: break-word;}
.Style3{font-family:  'Arial' ,sans-serif ;
 font-size: 27px; 
 font-weight:normal; 
 color: #FE9300;
 word-wrap: break-word;}
.para4{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style5{font-family:  'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #F9E031;
 word-wrap: break-word;}
.Style6{font-family:  'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #FFFEFF;
 word-wrap: break-word;}
.para7{font-size: 0; text-align:left; padding-bottom:14px; margin-top:0px; padding-top:0px;}
.Style8{font-family:  'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:normal; 
 color: #A9A9A9;
 word-wrap: break-word;}
.Style9{font-family:  'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:normal; 
 color: #B41700;
 word-wrap: break-word;}
.Style10{font-family:  'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:normal; 
 color: #FE9300;
 word-wrap: break-word;}
.Style11{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 15px; 
 font-weight:900; 
 word-wrap: break-word;}
.Style12{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 color: #F8B900;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style16{font-family:  'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #F8B900;
 word-wrap: break-word;}